@charset "UTF-8";
/* CSS Document */

.if{
	width: auto;
	height: 600px;
	background-color: black;
	
}

.if img {
	
width: 400px;
padding-top: 50px;
margin-bottom:-15px;
margin-left: -5px;
float: left;

}

.if p { 
color: white;
line-height: 25px;
float: left;
margin-top: 300px;
width: 195px;

}


.Bottom Text  {
float:left;
}

h1{ 
color:#CB4900;
font-family: "Helvetica, Arial, sans-serif" Helvetica, Arial, sans-serif; 
}

h2{ 
color: #888888;
}
 h3{
	 font-size:17px;
 }
 
.logo  {
	width:250px;
	float:left;
	margin-top: 25 px;
}