@charset "UTF-8";
/* CSS Document */

.if{
	width: auto;
	height: 565px;
	background-color: black;
	
}

.if img {
	
width: 400px;
padding-top: 50px;
margin-bottom:-25px;
margin-left: -5px;
float: left;

}

.if p { 
color: white;
line-height: 25px;
float: left;
margin-top: 300px;
width: 195px;

}




.Bottom Text  {
float:left;
}

h1{ 
color:#CB4900;
font-family: "Helvetica, Arial, sans-serif" Helvetica, Arial, sans-serif; 
}

h2{ 
color: #888888;
text-align:center;
font-size: 28px
font-family: Helvetica, Arial, sans-serif; 
}
 
 h3{
	 font-size:17px;
 }
 
hr {
	margin-top: -28px;
}

.middle2 img   {
	width:200px;
	float: right;
	margin-top: -135 px;
	
}